:root {
  --color-neutral: #ffffff;
  --color-primary: #e8eff2;
  --color-secondary: #f16718;
  --color-headings: #162542;
  --color-text: #7b8bad;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

.wrapper {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 50px;
  grid-gap: 4rem;
  margin-bottom: 4rem;
}

.hero__typography {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.heading__primary {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.05;
  color: var(--color-headings);
}

.decoration {
  position: absolute;
  width: 135px;
  aspect-ratio: 2/3;
  background-color: var(--color-primary);
}

.decoration--right {
  top: 0;
  right: -70px;
  border-radius: 20px 0 0 20px;
}

.decoration--left {
  bottom: 0;
  left: -70px;
  border-radius: 0 20px 20px 0;
}

.paragraph {
  line-height: 1.5;
  color: var(--color-text);
}

.hero__action {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero__release {
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: 500;
}

.hero__image-container {
  border-radius: 9px;
  overflow: hidden;
}

.hero__image {
  width: 100%;
}

.intro {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 2fr 2fr;
  grid-gap: 2rem;
}

.intro__image-container:nth-of-type(1) {
  grid-column: 2/3;
  filter: invert(38%) sepia(74%) saturate(301%) hue-rotate(349deg)
    brightness(107%) contrast(94%);
}

.intro__image-container {
  border-radius: 9px;
  overflow: hidden;
}

.intro__image {
  width: 100%;
  height: 100%;
  max-height: 360px;
}

.intro__typography {
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heading__secondary {
  color: var(--color-headings);
  font-size: 2.5rem;
  line-height: 1.05;
  text-transform: uppercase;
}

.features {
  padding: 7rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.feature {
  display: grid;
  gap: 1rem;
  grid-template-rows: 4rem 1fr 2fr;
}

.feature__icon-container {
  background-color: var(--color-secondary);
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}

.heading__tertiary {
  color: var(--color-headings);
  font-size: 1.5rem;
}

.footer {
  text-align: center;
  color: var(--color-text);
}

/* LINK */

.link:link,
.link:visited {
  text-decoration: none;
  display: inline-block;
}

.link--navigation:link,
.link--navigation:visited,
.link--cta:link,
.link--cta:visited {
  padding: 1rem 2rem;
  border-radius: 9px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

.link--navigation:link,
.link--navigation:visited {
  background-color: var(--color-primary);
  color: var(--color-headings);
}

.link--navigation:hover {
  color: var(--color-neutral);
  background-color: var(--color-headings);
}

.link--cta:link,
.link--cta:visited {
  background-color: var(--color-secondary);
  border: 1px solid currentColor;
  color: var(--color-neutral);
}

.link--cta:hover {
  color: var(--color-secondary);
  background-color: var(--color-neutral);
}

@media (max-width: 1200px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro {
    grid-template-columns: 1fr 2fr 2fr;
  }

  .intro__image-container:nth-of-type(1) {
    grid-column: auto;
  }

  .decoration {
    display: none;
  }
}

@media (max-width: 62.5rem) {
  .wrapper {
    padding: 0;
  }
  .navigation {
    padding: 3rem 1rem;
  }

  .hero {
    grid-gap: 2rem;
  }

  .heading__primary {
    font-size: 3rem;
  }

  .hero__typography {
    padding: 3rem 1rem;
  }

  .features {
    padding: 7rem 1rem;
  }
}

@media (max-width: 50rem) {
  .hero {
    grid-template-columns: 1fr;
    padding-left: 3rem;
  }

  .hero__typography {
    padding: 3rem 3rem 3rem 0;
  }

  .intro {
    padding-right: 3rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .intro__typography {
    grid-column: 1/-1;
    text-align: center;
    padding-left: 3rem;
  }

  .features {
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding: 1rem 0;
  }
}

@media (max-width: 37.5rem) {
  .features {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .feature {
    place-items: center;
  }

  .intro__image {
    width: auto;
  }

  .hero__action {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 25rem) {
  .hero {
    padding-left: 1rem;
  }

  .intro__typography {
    padding: 2rem 0 2rem 1rem;
  }
  .intro {
    padding-right: 1rem;
  }
}
